@using Classes;
@using Classes.MerryBet;
@model NormalisedSelection

@{
    ViewBag.Title = "NormaliseOddSelection";
    var Bet9jaOdds = (List<Bet9jaOdds>)ViewBag.Bet9jaOdds;
    var BetPawaOdds = (List<BetPawaOdds>)ViewBag.BetPawaOdds;
    var Merrybet = (List<DailyMerrybetOdds>)ViewBag.MerryBetOdds;

    string msg = ViewBag.Msg;
}

<h2>NormaliseOddSelection</h2>

@if (!string.IsNullOrWhiteSpace(msg))
{
    if (msg.Contains("Error"))
    {
        <div class="alert alert-dismissable alert-danger">
            @msg
        </div>
    }
    else
    {
        <div class="alert alert-dismissable alert-success">
            @msg
        </div>
    }
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <div class="row">
                <div class="col-xs-4">
                    <h2>Bet9ja</h2>
                    <ul class="list-unstyled">
                        @for (int i = 0; i < Bet9jaOdds.Count; i++)
                        {
                            <li style="border-bottom:1px solid red">@Bet9jaOdds[i].SelectionFull</li>
                        }
                    </ul>
                </div>
                <div class="col-xs-4">
                    <h2>BetPawa</h2>
                    <ul class="list-unstyled">
                        @for (int i = 0; i < BetPawaOdds.Count; i++)
                        {
                            <li style="border-bottom:1px solid red">@BetPawaOdds[i].SelectionFull</li>
                        }
                    </ul>
                </div>
                <div class="col-xs-4">
                    <h2>Merrybet</h2>
                    <ul class="list-unstyled">
                        @for (int i = 0; i < Merrybet.Count; i++)
                        {
                            <li style="border-bottom:1px solid red">@Merrybet[i].SelectionFull</li>
                        }
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-md-2">
            <form method="post">
                <div class="row">
                    <div class="form-group">
                        <label>Normalised</label>
                        @Html.EditorFor(m => m.Normal, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label>Bet9ja</label>
                        @Html.EditorFor(m => m.Bet9ja, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label>Betpawa</label>
                        @Html.EditorFor(m => m.BetPawa, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label>Merrybet</label>
                        @Html.EditorFor(m => m.MerryBet, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label>Nairabet</label>
                        @Html.EditorFor(m => m.NairaBet, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <input type="submit" value="Submit" class="btn btn-primary" />
                @Html.ActionLink("Clear", "NormaliseOddSelection", "Home", new { area = "" }, new { @class = "btn btn-default" })
                @Html.ActionLink("Clear", "ViewNormal", "Home", new { area = "" }, new { @class = "btn btn-default" })
            </form>
        </div>
    </div>
</div>
